body {
    font-size: 20px;
    text-align: center;
}
ul {
    font-family: Helvetica;
}
li {
    list-style: square;
    list-style-position: inside;
    font-family: 'fina';
}

#msg {
    font-family: 'regular';
    font-size: 25px;
}

h1 {
    font-family: 'cake';
    font-size: 65px;
}

.light-theme {
    --bg: var(--green);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
    --loginBg: var(--black);
    --loginFontColor: var(--white);
}

.dark-theme {
    --bg: var(--black);
    --fontColor: var(--green);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
    --loginBg: var(--white);
    --loginFontColor: var(--black);
}
@font-face {
    font-family: 'regular';
    src: url(NexaText-Trial-Regular.ttf);
}

@font-face {
    font-family: 'fina';
    src: url(NexaText-Trial-Thin.ttf);
}

@font-face {
    font-family: 'cake';
    src: url(Cream\ Cake.otf);
}

:root {
    --green: #628562;
    --white: #e7e7e7;
    --black: #181818;
}

* {
    color: var(--fontColor);
    font-family: Helvetica;
}

body {
    background: var(--bg);
}

.btn {
    font-family: 'regular';
    position:absolute;
    top: 335px;
    left: 660px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
    font-size: 20px;
    
}
    .btn:focus { outline-style: none; }

    .tela-login {
        margin-top: -275px;
    }

    h2 {
        font-family: 'regular';
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        margin: auto;
    }

    form {
        width: 200px;
        margin: 20px;
    }

    input {
        display: block;
        width: 240px;
        height: 30px;
        margin: 10px;
        border-radius: 10px;
        border: none;
        font-size: 2px;
        font-family: Helvetica;
    }

    #submit {
        width: 70px;
        height: 40px;
        border-radius: 15px;
        border: none;
        position: absolute;
        color: var(--loginFontColor);
        background-color: var(--loginBg);
        font-family: 'fina';
        font-size: 14px;
    }

.submit:focus { outline-style: none; }

    .entrar {
        margin: 10px;
        margin-left: 33px;
    }

    #Login {
        font-size: 13px;
    }

    #Senha {
        font-size: 13px;
    }