body {
    text-align: center;
    font-size: 20px;
}
ul {
    font-family: Helvetica;
}
li {
    list-style: circle;
    list-style-position: inside;
    font-family: 'fina';
}
.list{
    list-style: square;
    list-style-position: inside;
    text-align: center;
    font-family: 'fina';
}

#msg {
    
    font-family: 'regular';
    font-size: 25px;
}

h1 {
    font-family: 'cake';
    font-size: 65px;
}

.light-theme {
    --bg: var(--green);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
}

.dark-theme {
    --bg: var(--black);
    --fontColor: var(--green);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
}
@font-face {
    font-family: 'regular';
    src: url(NexaText-Trial-Regular.ttf);
}

@font-face {
    font-family: 'fina';
    src: url(NexaText-Trial-Thin.ttf);
}

@font-face {
    font-family: 'cake';
    src: url(Cream\ Cake.otf);
}

:root {
    --green: #628562;
    --white: #e7e7e7;
    --black: #181818;
}

* {
    color: var(--fontColor);
    font-family: Helvetica;
}

body {
    background: var(--bg);
}

.btn {
    font-family: 'regular';
    position:absolute;
    top: 335px;
    left: 660px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
    font-size: 20px;
    
}
    .btn:focus { outline-style: none; }