@font-face {
    font-family: 'garet';
    src: url(Garet-Book.ttf);
}

@font-face {
    font-family: 'bohemiansoul';
    src: url(Bohemian\ Soul.otf);
}

@font-face {
    font-family: 'regular';
    src: url(NexaText-Trial-Regular.ttf);
}

@font-face {
    font-family: 'fina';
    src: url(NexaText-Trial-Thin.ttf);
}

* {
    box-sizing: border-box;
}

.light-theme {
    --bg: var(--white);
    --leftBg: var(--lightestpink);
    --fontColor: var(--black);
    --btnBg: var(--lightestpink);
    --headerBg: var(--darkpink);
    --headerFontColor: var(--white);
    --navBarBg: #69554e;
    --navBarHover: var(--lightestpink);
    --footerBg: #69554e;
    --footerFontColor: var(--black);
    --sideBg: var(--lightestpink);
    --sideFontColor: var(--black);
}

.dark-theme {
    --bg: var(--black);
    --leftBg: var(--lightestpink);
    --fontColor: var(--white);
    --btnBg: var(--lightestpink);
    --headerBg: var(--darkpink);
    --headerFontColor: var(--black);
    --navBarBg: var(--lightpink);
    --navBarHover: var(--lightestpink);
    --footerBg: var(--lightestpink);
    --footerFontColor: var(--white);
    --sideBg: var(--lightestpink);
    --sideFontColor: var(--white);
}

:root {
    --lightestpink: #f1e5f1;
    --lightpink: #d1bed0;
    --white: #fbe3ff;
    --black: #181818;
    --darkpink: #ffc7f5;
}

body {
    font-family: 'garet';
    margin: 0;
    padding: 0;
    background-color: var(--lightestpink);
}

/* Estilo da logo e cabeçalho */

.header{
    padding: 1px;
    text-align: center;
    background: var(--headerBg);
    color: var(--headerFontColor);
    font-family: 'bohemiansoul';
    height: 160px;
}

.titulo{
    font-family: 'bohemiansoul';
}

/* Tamanho da fonte do header */

.header h1 {
    font-size: 10px;
}

.navbar {
    overflow: hidden; /* Esconde o resto do texto */
    background-color: var(--navBarBg);
}

/* Estilo da barra de navegação de links */

.navbar a {
    float: left;
    display: block;
    color: var(--navBarBg);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Estilo dos links à direita */

.navbar a.right {
    float: right;
}

.img-right {
    width: 20px;
    height: 20px;
    width: 100%;
}

.img-left {
    width: 20px;
    height: 20px;
    width: 100%;
}

/* Hover muda a cor quando passa o mouse */
.navbar a:hover {
    background-color: var(--navBarHover);
    color: var(--fontColor);
}

.row {
    display: flex;
    flex-wrap: wrap; /* Wrap faz com que as box não se amassem */
    font-family: 'garet';
}

.row h2{
    font-family: 'regular';
}

.perfil-main {
    background-color: var(--lightestpink);
    text-align: center;
    height: auto;
    margin: 30px;
    font-family: 'garet';
    font-size: small;
}

.perfil-main img{
    border-radius: 50%;
}

.infoPerfil {
    margin-top: 25px;
    border: 2px solid var(--black); border-bottom: none; height: auto;
    border-radius: 25px;
}

/* Rodapé */
.footer {
    height: 145px;
    padding: 20px;
    text-align: center;
    background: #69554e;
    font-family: 'garet';
}

.footer-title{
    font-family: 'bohemiansoul';
    color: var(--white);
}

.footer-info{
    color: var(--white);
}


/* Layout Responsivo */
@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}

@media screen and (max-width: 400px){
    .navbar a {
        float: none;
        width: 100%;
    }
}